---
layout: full_nav
title: Social Memory Complex
subtitle: A political economy of the soul
---
- if paginator
  -for post in paginator['posts']
    .post{:id => "post-#{post.slug}"}
      %h2.post-title
        %a{:href => post.url}
          =post.data['title']
        - if post.data['subtitle'] 
          #subtitle
            =post.data['subtitle'] 
      = abridge post.content, post.url, post.data['excerpt_paragraph_count']
      .meta
        - if link = offsite_link(post)
          = link
          %br
        =published_date(post.date)
        %br
        - unless post.tags.empty?
          ="Tags: #{post.tags}" 
          %br
        =link_to "Comments", "#{post.url}#disqus_thread"
  .pagination
    = pagination_links paginator