!!!
%html
  %head
    %title 
      =[title_for(page), "Social Memory Complex"].uniq.join(" | ")
    %meta{:name => 'description', :content => get_description(page) }
    %link{:href => "/smc.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    - if tag = page.fetch('tag', false)
      %link{ :href => "http://socialmemorycomplex.net/tags/#{tag}.xml", :rel => "alternate", :title => "Social Memory Complex: #{tag}", :type => "application/atom+xml" }
    - else
      %link{ :href => "http://feeds.feedburner.com/SocialMemoryComplex", :rel => "alternate", :title => "Social Memory Complex: Articles", :type => "application/atom+xml" }
      %link{ :href => "http://feeds.feedburner.com/SMC_Linkblog", :rel => "alternate", :title => "Social Memory Complex: Linkblog", :type => "application/atom+xml" }
    %meta{ :name => "google-site-verification", :content => "yCP6NyO-2cMp1yzxWs6cN1jSSKOs5l87-R8qWbKOcUM" }
  %body
    .page
      %h1= header(page)
      = content
      #footer
        - if page.fetch("bottom_nav", false)
          %ul#navigation
            - if target = page['previous']
              %li= previous_link(target)
            %li
              %a{:href=>"/"} Home
            - if target = page['next']
              %li= next_link(target)
        #license-area
          %a{:rel=>"license", :href=>"http://creativecommons.org/licenses/by-nc-sa/3.0/"}
            %img{:alt=>"Creative Commons License", :style=>"border-width:0", :src=>"http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png"}
          %p This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
          %p#copyright-area== Social Memory Complex (#{link_to 'http://socialmemorycomplex.net', '/'}) &copy; 2004 - #{Time.now.year} Jeremy Weiland
        =disqus_two
        #generation-text
          == This page was last generated #{Time.now.strftime("at %I:%M:%S %p on %A, %B %d, %Y")}.

      %img{:src => "/assets/for-the-fairest.png", :id => "kallisti "}
        
:javascript
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); try { var pageTracker = _gat._getTracker("UA-3303392-1"); pageTracker._trackPageview();  } catch(err) {}